<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.server.augusto.smserver">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NuevoUsuario"
            android:label="Nuevo Usuario" >
        </activity>

        <activity
            android:name=".TodosLosUsuarios"
            android:label="Todos los Usuario" >
        </activity>

        <activity
            android:name=".EditarUsuario"
            android:label="Todos los Usuario" >
        </activity>

        <activity
            android:name=".GuardarConfiguracion"
            android:label="Configuraciones" >
        </activity>

        <receiver android:name="com.server.augusto.smserver.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  Send SMS Permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--  Receive SMS Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

</manifest>
